<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140038051654-u0ulhrnfj3pvh7lqmtf5tkoc8a0fmm20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140038051654-u0ulhrnfj3pvh7lqmtf5tkoc8a0fmm20</string>
	<key>API_KEY</key>
	<string>AIzaSyBP2yjdq51Yp08Alrgn80NybxjxCBeTVbM</string>
	<key>GCM_SENDER_ID</key>
	<string>140038051654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.gocorona.covid19squadx</string>
	<key>PROJECT_ID</key>
	<string>corona-tracker-f8d5b</string>
	<key>STORAGE_BUCKET</key>
	<string>corona-tracker-f8d5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:140038051654:ios:c3498cdceed05157457747</string>
	<key>DATABASE_URL</key>
	<string>https://corona-tracker-f8d5b.firebaseio.com</string>
</dict>
</plist>
